<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Find out the day of the week you were born, input a date in the future or the past and discover what day of the week it was on. Find out what your zodiac sign is, what astrological sign are you?">
    <title>Date Info Birthday Calculator - Find out the day of the week you were born! - Find out how many days you've been alive</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<style>


</style>
<body style="background-color: #d9e6f2">
        {% include '_navbar.html' %}

    <main role="main">

      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3" style="font-size: 55px;">Find out the day of the week you were born, input a date in the future or the past and discover what day of the week it was on. Find out how many times your heart has beaten!</h1>

            <hr style="margin-top: 2em;">
            <center><p style="font-size: 50px;">&darr;</p></center>
            <center><p class="lead" style="font-size: 30px; margin-bottom: 3em;"> View the options below and pick the one that you want to discover! Have fun!</p></center>
        </div>
      </div>

      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <h1>What day of the week will this date or birthday be?</h1>
            <hr class="my-4">
              <p>This page will tell you the day of the week a certain date will occur on. Don't know what to input? Well, input your birthday several years into the future and see what day of the week your birthday occurs on.</p>
            <p><a class="btn btn-secondary" href="/what-day-of-the-week-am-i-born" role="button">Lets go! &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h1>How many days have I been alive?</h1>
            <hr class="my-4">
              <p>Our advanced algorithim figures out how many days you have been alive from when you were born. You can also change this to minutes. (if you desire)</p>
            <p><a class="btn btn-secondary" href="/how-many-days-have-i-been-alive" role="button" style="margin-top: 4em;">Lets go! &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h1>How many minutes have I been alive?</h1>
            <hr class="my-4">
              <p>Our advanced algorithim figures out how many minutes you have been alive from when you were born. You can also change this to days. (if you desire)</p>
            <p><a class="btn btn-secondary" href="/how-many-minutes-have-i-been-alive" role="button" style="margin-top: 4em;">Lets go! &raquo;</a></p>
          </div>
        </div>


      </div>

    </main>
<div class="jumbotron" style="padding-bottom: 10em;">
<div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h1>How many seconds have I been alive?</h1>
            <hr class="my-4">
              <p>This page will show you how many seconds you have lived based upon the birthday you input. It is pretty shocking! Totally recommend checking it out. See you there!</p>
            <p><a class="btn btn-secondary" href="/how-many-seconds-have-i-been-alive" role="button">Lets go! &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h1>Find how many times your heart has beaten!</h1>
            <hr class="my-4">
              <p>Our advanced algorithim figures out how many days you have been alive from when you were born. You can also change this to minutes. (if you desire)</p>
            <p><a class="btn btn-secondary" href="/how-many-times-your-heart-has-beaten" role="button" style="margin-top: 4em;">Lets go! &raquo;</a></p>
          </div>



      </div> <!-- /container -->
</div>





    
  </body>
</html>
