<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Use Date-Info's tools to determine how many minutes you have lived, or what day of the week a day is given the date. Check us out to view more of our tools!">
    <title>DateInfo - Determine how many minutes you have been alive</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<style>

</style>
<body style="background-color: #d9e6f2">
{% include '_navbar.html' %}

    <main role="main">
    <div class="container" style="margin-top: 2em;">
      <div class="jumbotron">

          <h1 class="display-3" style="font-size: 45px;">Use our calculator to find out how many minutes you have lived in your life.</h1>
            <hr>
          <p>Our users are provided with the tools and calculators needed to empower themselves. Our tools are meant to be user friendly and help those in need of information. Thank you for discovering us!</p>
<hr>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">Go Home&raquo;</a></p>
            <hr>
            <center><h1 class="display-3" style="font-size: 30px; margin-top: 1.5em; margin-bottom: 1.5em;"> Use the calculator below to determine how many minutes you have lived!</h1></center>
            <center><p style="font-size: 40px;"> &#8601;</p></center>
            <hr>
            <form method="POST" action="/how-many-minutes-have-i-been-alive">
                <p> Please enter your birthday below: &darr; </p>
                    <p style="color: red;"> {{ message }}</p>
                    <p>Day <b>(Ex: 03)</b>  &darr;</p><input type="text" name="namequery1" value='{{ day }}'>
          <div></div>
                    <p>Month <b>(Ex: 05)</b>  &darr;</p><input type="text" name="namequery2" value='{{ month }}'>
          <div></div>
                    <p>Year <b>(Ex: 2020)</b>  &darr;</p><input type="text" name="namequery3" value='{{ year }}'>
          <div></div>
          <button type="submit" class="btn btn-primary" style="margin-top: 2em;">Submit Parameters</button>
                <hr>
                <p> Based upon given information, you have been alive for: &darr;</p>
                <b><input type="text" name="namequery4" value="{{ output }}"></b>

    </form>

        </div>
      </div>


    </main>


    <footer class="container">
      <p>Feel free to take inspiration from these tools. Have a good day.</p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>