<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="How many pounds of food does a cat eat in its lifetime? This is a question that will be answered in this webpage.">
    <title>How many pounds of food does a cat it in its lifetime?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<style>

</style>
<body style="background-color: #d9e6f2">
{% include '_navbar.html' %}

    <main role="main">
    <div class="container" style="margin-top: 2em;">
      <div class="jumbotron">

          <h1 style="font-size: 45px;">How many pounds of food does a cat eat in its lifetime?</h1>
           <hr>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">Go Home&raquo;</a></p>
            <hr>
            <center><h2 class="display-3" style="font-size: 30px; margin-top: 1.5em; margin-bottom: 1.5em;"> Find out how many pounds of food a cat eats in its lifetime!</h2></center>
            <center><p style="font-size: 40px;"> &#8601;</p></center>
            <hr>
            <form method="POST" action="/how-much-food-does-a-cat-eat-in-its-lifetime">
                <p> Please enter your cats birthday below: &darr; </p>
                    <p style="color: red;"> {{ usermessage }}</p>
                    <p>Day <b>(Ex: 03)</b>  &darr;</p><input type="text" name="date1" value='{{ day }}'>
          <div></div>
                    <p>Month <b>(Ex: 05)</b>  &darr;</p><input type="text" name="date2" value='{{ month }}'>
          <div></div>
                    <p>Year <b>(Ex: 2020)</b>  &darr;</p><input type="text" name="date3" value='{{ year }}'>
          <div></div>
          <button type="submit" class="btn btn-primary" style="margin-top: 2em;">Submit Parameters</button>
                <hr>
                <p> Based upon given information, this cat has eaten: &darr;</p>
                <b><input type="text" name="date4" value="{{ final_result }}"></b>
                <p style="font-size: 13px; color: red;"> {{ alternative_suprise }} </p>
                <p style="margin-top: 1em;"> <b>Fact:</b> Most healthy dogs eat 2 pounds of food per day!</p>
                <hr>
                <p> Want to figure out the day of the week you or your dog were born? &darr; </p>
                <p><a class="btn btn-secondary" href="/what-day-of-the-week-am-i-born" role="button" style="margin-top: 0em; width: 20%;">Lets find out! &raquo;</a></p>

    </form>

        </div>
      </div>


    </main>


    <footer class="container">
      <p>Feel free to take inspiration from these tools. Have a good day.</p>
    </footer>


<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>-->
<!--    <script src="../../assets/js/vendor/popper.min.js"></script>-->
<!--    <script src="../../dist/js/bootstrap.min.js"></script>-->
  </body>
</html>