<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Find out the day of the week you were born, input a date in the future or the past and discover what day of the week it was on. Find out what your zodiac sign is, what astrological sign are you?">
    <title>Date Info Birthday Calculator - Find out the day of the week you were born! - Find out how many days you've been alive</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<style>


</style>
<body style="background-color: #d9e6f2">
        {% include '_navbar.html' %}

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3" style="font-size: 50px;">Welcome to DateInfo! Use our tools to find out the day of the week you were born, input a date in the future or the past and discover what day of the week it was on.</h1>
            <hr>
          <p>Some things you can do: Find out the day of the week you were born, input a date in the future or the past and discover what day of the week it was on. Find out what your zodiac sign is, what astrological sign are you?</p>
<hr>
            <p><a class="btn btn-primary btn-lg" href="/date-time-birthday-calculator" role="button">Learn more &raquo;</a></p>
            <hr>
            <center><p class="lead" style="font-size: 30px; margin-top: 1em;"> View the options below and pick the one that you want to discover! Have fun!</p></center>

            <center><p style="font-size: 50px;">&darr;</p></center>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h1>What day of the week will this date or birthday be?</h1>
            <hr class="my-4">
              <p>This page will tell you the day of the week a certain date will occur on. Don't know what to input? Well, input your birthday several years into the future and see what day of the week your birthday occurs on.</p>
            <p><a class="btn btn-secondary" href="/what-day-of-the-week-am-i-born" role="button">Lets go! &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h1>How many days have I been alive?</h1>
            <hr class="my-4">
              <p>Our advanced algorithim figures out how many days you have been alive from when you were born. You can also change this to minutes. (if you desire)</p>
            <p><a class="btn btn-secondary" href="/how-many-days-have-i-been-alive" role="button" style="margin-top: 4em;">Lets go! &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h1>How many minutes have I been alive?</h1>
            <hr class="my-4">
              <p>Our advanced algorithim figures out how many minutes you have been alive from when you were born. You can also change this to days. (if you desire)</p>
            <p><a class="btn btn-secondary" href="/how-many-minutes-have-i-been-alive" role="button" style="margin-top: 4em;">Lets go! &raquo;</a></p>
          </div>
        </div>


      </div> <!-- /container -->

    </main>
<div class="jumbotron" style="padding-bottom: 1em;">
<div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h1>How many seconds have I been alive?</h1>
            <hr class="my-4">
              <p>This page will show you how many seconds you have lived based upon the birthday you input. It is pretty shocking! Totally recommend checking it out. See you there!</p>
            <p><a class="btn btn-secondary" href="/how-many-seconds-have-i-been-alive" role="button">Lets go! &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h1>Find how many times your heart has beaten!</h1>
            <hr class="my-4">
              <p>Our advanced algorithim figures out how many days you have been alive from when you were born. You can also change this to minutes. (if you desire)</p>
            <p><a class="btn btn-secondary" href="/how-many-times-your-heart-has-beaten" role="button" style="margin-top: 4em;">Lets go! &raquo;</a></p>
          </div>
            <div class="col-md-4">
            <h1>Find how much food you have eaten in your life!</h1>
            <hr class="my-4">
              <p>Our advanced algorithim figures out how much food you have eaten in your life. However,it requires a birthday that you must input. (if you desire)</p>
            <p><a class="btn btn-secondary" href="/how-much-food-have-i-eaten-in-my-life-calculator" role="button" style="margin-top: 4em;">Lets go! &raquo;</a></p>
          </div>



      </div> <!-- /container -->

</div>
</div>
<div class="jumbotron" style="padding-bottom: 10em; background-color: #d9e6f2">
<div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h1>How many pounds of food has my dog eaten in its life?</h1>
            <hr class="my-4">
              <p>Find out how many pounds of food your dog has eaten in its life</p>
            <p><a class="btn btn-secondary" href="/how-many-pounds-of-food-does-a-dog-eat-in-its-life" role="button">Lets go! &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h1>How much food does a horse eat in its lifetime calculator?</h1>
            <hr class="my-4">
              <p>Find out how many pounds of food your horse has eaten with our calculator. Click the button to get started!</p>
            <p><a class="btn btn-secondary" href="/how-much-food-does-a-horse-eat-in-its-lifetime" role="button" style="margin-top: 4em;">Lets go! &raquo;</a></p>
          </div>
                        <div class="col-md-4">
            <h1>How many pounds of food does a cat eat in its lifetime?</h1>
            <hr class="my-4">
              <p>Find out how many pounds of food a cat eats in its lifetime. Click the button below to begin.</p>
            <p><a class="btn btn-secondary" href="/how-much-food-does-a-cat-eat-in-its-lifetime" role="button" style="margin-top: 4em;">Lets go! &raquo;</a></p>
          </div>



      </div> <!-- /container -->

</div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
